{{>head}}
{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Soy alejandro y tengo 21 años</h1>
    </div>

    <div class="col-4">
        <img src="assets/images/airbus.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}